.d-flex {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ngx-select {
    width: 200px;

}

button {
    background-color: #a1cbfd;
}

.add_condition {

    border: none;
    background-color: #a1cbfd;
    height: 38px;
    width: 200px;
    border-radius: 3px;
    color: black;

}

#header-search {
    display: inline-block;
    width: 200px;
    height: 38px;
    /* background: black; */
    /* color: white;  */
    border: thin;
    outline: 2px solid #a1cbfd;
    font-size: 12pt;
    vertical-align: middle;
}

#search-icon {
    position: relative;
    right: 28px;
    top: 0;
    fill: grey;
    padding: 1px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    /* cursor: pointer; */
}

.input-group {
    position: relative;
}