<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/pngtree-dark-red-halo-stacked-triangle-color-block-background-picture-image_1466946.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive text-uppercase mb-4">Connect</h1>
      <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Discover More</button>

    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/pngtree-simple-technology-forum-general-background-material-image_208058.jpg">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive text-uppercase mb-4">Welcome to Community Dashboard</h1>
      <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Join Community</button>

    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/depositphotos_20981435-stock-photo-social-network.jpg">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive text-uppercase mb-4">Discover Community</h1>
      <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" [routerLink]="['/connect']" >View Community</button>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<section class="container py-5" >
  <h1 class="text-center mb-5">Featured Posts</h1>
  <div class="row">
   <div class="card col-md-4 testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
     <div class="avatar mx-auto white">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQamCPUUa_GlLJTvDVFzwSEyvNQVqsdoaLh8g&usqp=CAU"  class="rounded-circle img-fluid"
         alt="woman avatar">
     </div>
     <div class="card-body text-center">
       <h4 class="card-title font-weight-bold">Dr. Anthony</h4>
       <small>MBBS, MS (Ortho)</small>
       <hr>
       <p><i class="fas fa-quote-left"></i>
         Please Note: This is an educational piece that is being provided to all PLM members regardless of condition(s).
Join us for a conversation with Dr. Mary C. (Kate) Burke, MD, Senior Medical Advisor at PatientsLikeMe, about living with MDD. Throughout the conversation, Dr. Kate will:
Share information about MDD symptoms
Outline what to expect from the evaluation
Detail common treatment options
Explain goal attainment strategy and how it can be used to help manage MDD
Additionally, PLM members with MDD will share their experience with MDD and some tips and strategies they have used to help regulate their condition.
Be sure to join the conversation – you can submit questions in the comments that could be featured in a future Q&A follow-up.
<i class="fas fa-quote-right"></i></p>
     </div>
   </div>

   <div class="card col-md-4 testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
     <div class="avatar mx-auto white">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQamCPUUa_GlLJTvDVFzwSEyvNQVqsdoaLh8g&usqp=CAU" class="rounded-circle img-fluid"
         alt="woman avatar">
     </div>
     <div class="card-body text-center">
       <h4 class="card-title font-weight-bold">Dr. Jane</h4>
       <small>MBBS, MS </small>
       <hr>
       <p><i class="fas fa-quote-left"></i>
         The Impact of Individualized Medicine: Q&ASpecialuests Dr. Jane Topol and patient advocate Christine Von Raesfeld discuss how DNA health data can affect your health journey, plus bonus Q&A.
         Recently, PatientsLikeMe’s Associate Director of Community Management, Brad Hornback, sat down with Dr. Eric Topol (Founder & Director at Scripps Research Translational Institute) and Christine Von Raesefeld (Patient Advocate) to discuss the topic of genomics and medicine, including how genomic data can affect the healthcare journey and how individuals may receive their own DNA results by participating in the All of Us Research Program.
         <i class="fas fa-quote-right"></i>
       </p>
     </div>
   </div>

   <div class="card col-md-4 testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
     <div class="avatar mx-auto white">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQamCPUUa_GlLJTvDVFzwSEyvNQVqsdoaLh8g&usqp=CAU" class="rounded-circle img-fluid"
         alt="woman avatar">
     </div>
     <div class="card-body text-center">
       <h4 class="card-title font-weight-bold">Dr. James</h4>
       <small>MBBS, MD(surgery))</small>
       <hr>
       <p><i class="fas fa-quote-left"></i>
         Please Note: This is an educational piece that is being provided to all PLM members regardless of condition(s).
Join us for a conversation with Dr. Mary C. (Kate) Burke, MD, Senior Medical Advisor at PatientsLikeMe, about living with MDD. Throughout the conversation, Dr. Kate will:
Share information about MDD symptoms
Outline what to expect from the evaluation
Detail common treatment options
Explain goal attainment strategy and how it can be used to help manage MDD
Additionally, PLM members with MDD will share their experience with MDD and some tips and strategies they have used to help regulate their condition.
Be sure to join the conversation – you can submit questions in the comments that could be featured in a future Q&A follow-up.
<i class="fas fa-quote-right"></i> </p>
     </div>
   </div>
  </div> 

  

</section>

<section class="container py-5" >
  <h1 class="text-center mb-5">Diabetes Posts</h1>
  <div class="row">
   <div class="card col-md-4 testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
     <div class="avatar mx-auto white">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQamCPUUa_GlLJTvDVFzwSEyvNQVqsdoaLh8g&usqp=CAU"  class="rounded-circle img-fluid"
         alt="woman avatar">
     </div>
     <div class="card-body text-center">
       <h4 class="card-title font-weight-bold">Dr. Anthony</h4>
       <small>MBBS, MS (Ortho)</small>
       <hr>
       <p><i class="fas fa-quote-left"></i>
         Please Note: This is an educational piece that is being provided to all PLM members regardless of condition(s).
Join us for a conversation with Dr. Mary C. (Kate) Burke, MD, Senior Medical Advisor at PatientsLikeMe, about living with MDD. Throughout the conversation, Dr. Kate will:
Share information about MDD symptoms
Outline what to expect from the evaluation
Detail common treatment options
Explain goal attainment strategy and how it can be used to help manage MDD
Additionally, PLM members with MDD will share their experience with MDD and some tips and strategies they have used to help regulate their condition.
Be sure to join the conversation – you can submit questions in the comments that could be featured in a future Q&A follow-up.
<i class="fas fa-quote-right"></i></p>
     </div>
   </div>

   <div class="card col-md-4 testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
     <div class="avatar mx-auto white">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQamCPUUa_GlLJTvDVFzwSEyvNQVqsdoaLh8g&usqp=CAU" class="rounded-circle img-fluid"
         alt="woman avatar">
     </div>
     <div class="card-body text-center">
       <h4 class="card-title font-weight-bold">Dr. Jane</h4>
       <small>MBBS, MS </small>
       <hr>
       <p><i class="fas fa-quote-left"></i>
         The Impact of Individualized Medicine: Q&ASpecialuests Dr. Jane Topol and patient advocate Christine Von Raesfeld discuss how DNA health data can affect your health journey, plus bonus Q&A.
         Recently, PatientsLikeMe’s Associate Director of Community Management, Brad Hornback, sat down with Dr. Eric Topol (Founder & Director at Scripps Research Translational Institute) and Christine Von Raesefeld (Patient Advocate) to discuss the topic of genomics and medicine, including how genomic data can affect the healthcare journey and how individuals may receive their own DNA results by participating in the All of Us Research Program.
         <i class="fas fa-quote-right"></i>
       </p>
     </div>
   </div>

   <div class="card col-md-4 testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
     <div class="avatar mx-auto white">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQamCPUUa_GlLJTvDVFzwSEyvNQVqsdoaLh8g&usqp=CAU" class="rounded-circle img-fluid"
         alt="woman avatar">
     </div>
     <div class="card-body text-center">
       <h4 class="card-title font-weight-bold">Dr. James</h4>
       <small>MBBS, MD(surgery))</small>
       <hr>
       <p><i class="fas fa-quote-left"></i>
         Please Note: This is an educational piece that is being provided to all PLM members regardless of condition(s).
Join us for a conversation with Dr. Mary C. (Kate) Burke, MD, Senior Medical Advisor at PatientsLikeMe, about living with MDD. Throughout the conversation, Dr. Kate will:
Share information about MDD symptoms
Outline what to expect from the evaluation
Detail common treatment options
Explain goal attainment strategy and how it can be used to help manage MDD
Additionally, PLM members with MDD will share their experience with MDD and some tips and strategies they have used to help regulate their condition.
Be sure to join the conversation – you can submit questions in the comments that could be featured in a future Q&A follow-up.
<i class="fas fa-quote-right"></i> </p>
     </div>
   </div>
  </div> 

  

</section>