<div class="container-fluid">
    <div class="row mx-1">
        <div class="col-md-8">
            <div class="comment-thread border p-3">
                <!-- Comment 1 start -->
                <div class="comment comment-card-thread mb-5" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../assets/img/auser.png" style="width:32px; height:32px; position: relative;"
                                alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author">Amol B</a>
                            <p class="m-0">
                                5 days ago
                            </p>
                        </div>
                    </div>

                    <a class=" btn btn-sm btn-outline-primary float-right">
                        subscribe <i class="fa fa-bell"></i>
                    </a>

                    <div class="comment-body">
                        <div>
                            <a style="text-decoration: none; font-size: 20px; font-weight: bold;" href="">Diabetes drug
                                could cure Alzheimer's Disease</a>
                        </div>
                        <p class="mt-2">
                            Title content Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptate
                            voluptatibus ex magni eum corporis molestias voluptatem, repellendus, porro eveniet culpa
                            esse ut ratione error itaque laudantium deleniti. Totam, eum?
                        </p>

                        <p class="ml-2 float-right"><i class="fa fa-thumbs-up"></i> 15</p>





                        <a class="btn btn-outline-primary btn-sm">Reply</a>

                        <a class="btn btn-outline-primary btn-sm">Like</a>




                        <div>

                        </div>
                    </div>

                    <ng-container>
                        <div class="replies ml-4">
                            <!-- Comment 2 start -->
                            <div class="comment" id="comment-2">
                                <div class="comment-heading">
                                    <div class="comment-voting">
                                        <img src="../../assets/img/auser.png"
                                            style="width:32px; height:32px; position: relative;" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <a href="#" class="comment-author">UserA</a>
                                        <p class="card-text">12 Jan 2022</p>

                                    </div>
                                </div>

                                <div class="comment-body">
                                    <p>
                                        Wow that's awesome!
                                    </p>

                                    <a class="btn btn-outline-primary btn-sm">Reply</a>
                                    <a class="btn btn-outline-primary btn-sm">Like</a>
                                    <p class="ml-2 float-right"><i class="fa fa-thumbs-up"></i> 10</p>


                                </div>
                            </div>
                            <!-- Comment 2 end -->

                            <a href="javascript:void(0)">Load more replies</a>
                        </div>
                    </ng-container>

                </div>
                <!-- Comment 1 end -->
            </div>
        </div>
        <div class="col-md-4">
            <!-- Comment 1 start -->
            <div class="comment-thread border p-3">
                <div class="comment comment-card-thread" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../../assets/img/auser.png"
                                style="width:32px; height:32px; position: relative;" alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author text-dark">John Moorey</a>
                            <p class="m-0">
                                5 days ago
                            </p>
                        </div>
                    </div>

                    <div class="comment-body ml-1">
                        <h6>
                            <a style="text-decoration: none;" href=""> Diabetes drug could cure Alzheimer's Disease</a>
                        </h6>

                        <span class="p-1"><i class="fa fa-thumbs-up"></i> 15</span>

                        <span class="p-1 ml-2"><i class="fa fa-comment"></i> 20</span>

                    </div>



                </div>
                <!-- Comment 1 end -->
                <hr>
                <div class="comment comment-card-thread" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../../assets/img/auser.png"
                                style="width:32px; height:32px; position: relative;" alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author text-dark">Chris Rock</a>
                            <p class="m-0">
                                2 days ago
                            </p>
                        </div>
                    </div>

                    <div class="comment-body ml-1">
                        <h6>
                            <a style="text-decoration: none;" href=""> Very encouraging news about a diabetes</a>
                        </h6>

                        <span class="p-1"><i class="fa fa-thumbs-up"></i> 12</span>

                        <span class="p-1 ml-2"><i class="fa fa-comment"></i> 11</span>

                    </div>



                </div>
                <hr>

                <div class="comment comment-card-thread" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../../assets/img/auser.png"
                                style="width:32px; height:32px; position: relative;" alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author text-dark">Will Smith</a>
                            <p class="m-0">
                                7 days ago
                            </p>
                        </div>
                    </div>

                    <div class="comment-body ml-1">
                        <h6>
                            <a style="text-decoration: none;" href=""> Extraordinary benefits of coconut oil
                                for Alzheimer's Disease !!!</a>
                        </h6>

                        <span class="p-1"><i class="fa fa-thumbs-up"></i> 24</span>

                        <span class="p-1 ml-2"><i class="fa fa-comment"></i> 17</span>

                    </div>



                </div>
                <hr>
                <div class="comment comment-card-thread" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../../assets/img/auser.png"
                                style="width:32px; height:32px; position: relative;" alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author text-dark">John Moorey</a>
                            <p class="m-0">
                                5 days ago
                            </p>
                        </div>
                    </div>

                    <div class="comment-body ml-1">
                        <h6>
                            <a style="text-decoration: none;" href=""> Diabetes drug could cure Alzheimer's Disease</a>
                        </h6>

                        <span class="p-1"><i class="fa fa-thumbs-up"></i> 15</span>

                        <span class="p-1 ml-2"><i class="fa fa-comment"></i> 20</span>

                    </div>



                </div>
                <!-- Comment 1 end -->
                <hr>
                <div class="comment comment-card-thread" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../../assets/img/auser.png"
                                style="width:32px; height:32px; position: relative;" alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author text-dark">Chris Rock</a>
                            <p class="m-0">
                                2 days ago
                            </p>
                        </div>
                    </div>

                    <div class="comment-body ml-1">
                        <h6>
                            <a style="text-decoration: none;" href=""> Very encouraging news about a diabetes</a>
                        </h6>

                        <span class="p-1"><i class="fa fa-thumbs-up"></i> 12</span>

                        <span class="p-1 ml-2"><i class="fa fa-comment"></i> 11</span>

                    </div>



                </div>
                <hr>

                <div class="comment comment-card-thread" id="comment-1">
                    <div class="comment-heading">
                        <div class="comment-voting">
                            <img src="../../../assets/img/auser.png"
                                style="width:32px; height:32px; position: relative;" alt="">
                        </div>
                        <div class="comment-info">
                            <a href="#" class="comment-author text-dark">Will Smith</a>
                            <p class="m-0">
                                7 days ago
                            </p>
                        </div>
                    </div>

                    <div class="comment-body ml-1">
                        <h6>
                            <a style="text-decoration: none;" href=""> Extraordinary benefits of coconut oil
                                for Alzheimer's Disease !!!</a>
                        </h6>

                        <span class="p-1"><i class="fa fa-thumbs-up"></i> 24</span>

                        <span class="p-1 ml-2"><i class="fa fa-comment"></i> 17</span>

                    </div>



                </div>
                <hr>
            </div>
        </div>
    </div>
</div>